html,
body {
    background-color: rgb(246, 246, 246);
    padding: 0;
    margin: 0;
    color: rgb(18, 18, 18);
    font-size: calc(15px + 0.390625vw);
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    transition: 0.5s;
}

a {
    color: rgb(5, 83, 251);
    text-decoration: none;
}

a:hover {
    color: rgb(163, 24, 255);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
p,
ul {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
}