.pageContainer {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.greetContainer {
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.profileImage {
  width: 150px;
  height: 150px;
  background-image: url("../src/assets/images/memoji.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  font-size: 1rem;
  text-align: justify;
  max-width: 90%;
  margin-top: 2rem;
}

.greetText {
  font-size: 1.5rem;
  /* max-width: 80%; */
}

.takeATourText {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: rgb(85, 85, 85);
  font-weight: 100;
}

.greetAndTourTextContainer {
  display: flex;
  flex-direction: column;
}

.experienceBox {
  width: 100%;
  padding: 1rem;
}

.subTitle {
  font-size: 1rem;
}

.experienceBox ul {
  margin-top: 1rem;
}

.experienceBox ul li {
  position: relative; /* Menambahkan posisi relatif untuk mengatur padding */
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(50, 50, 50);
  padding-left: 1.2rem; /* Menambahkan padding untuk mengimbangi simbol */
  text-indent: -0.0rem; /* Menambahkan indentasi negatif untuk mengimbangi padding */
}

.experienceBox ul li:before {
  content: ">";
  position: absolute; /* Menjadikan simbol dalam posisi absolut */
  left: 0; /* Menempatkan simbol pada tepi kiri */
  margin-right: 0.5rem;
  color: blue;
}

.experienceBox ul li h1 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 0.5rem;
  display: inline;
}

.experienceBox ul li h2 {
  display: inline;
  font-weight: normal;
  color: grey;
  font-size: 0.8rem;
}

.experienceTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.tools ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.8rem;
}

.tools ul li {
  list-style: none;
  border: 2px solid rgb(49, 115, 237);
  border-radius: 10px;
  padding: 4px 8px 4px 8px;
  margin-right: 0.5rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(49, 115, 237);
  transition: 0.3s;
  cursor: default;
}

.tools ul li:hover {
  background-color: rgb(49, 115, 237);
  color: white;
}

/* /tools */
.tools ul li::before {
  display: none;
}

/* TODO: Implement responsive from big to small */

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .greetText {
      font-size: 1rem;
    }

    .takeATourText {
        font-size: 0.8rem;
    }

    .profileImage {
        width: 100px;
        height: 100px;
    }
  }
  