.pageContainer {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.greetContainer {
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.profileImage {
  width: 150px;
  height: 150px;
  background-image: url("../src/assets/images/memoji.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.profileImage:hover {
  transform: rotate(25deg);
}

.description {
  font-size: 1rem;
  text-align: justify;
  max-width: 90%;
  margin-top: 2rem;
}

.greetText {
  font-size: 1.5rem;
  /* max-width: 80%; */
}

.takeATourText {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: rgb(85, 85, 85);
  font-weight: 100;
}

.greetAndTourTextContainer {
  display: flex;
  flex-direction: column;
}

.experienceBox {
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.subTitle {
  font-size: 1rem;
}

.experienceBox ul {
  margin-top: 1rem;
}

.experienceBox ul li {
  position: relative; 
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(50, 50, 50);
  padding-left: 1.2rem; 
  text-indent: -0rem; 
}

.experienceBox ul li:before {
  content: ">";
  position: absolute; 
  left: 0; 
  margin-right: 0.5rem;
  color: blue;
}

.experienceBox ul li h1 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 0.5rem;
  display: inline;
}

.experienceBox ul li h2 {
  display: inline;
  font-weight: normal;
  color: grey;
  font-size: 0.8rem;
}

.experienceTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.tools ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.8rem;
}

.tools ul li {
  list-style: none;
  border: 2px solid rgb(49, 115, 237);
  border-radius: 10px;
  padding: 4px 8px 4px 8px;
  margin-right: 0.5rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(49, 115, 237);
  transition: 0.3s;
  cursor: default;
}

.tools ul li:hover {
  background-color: rgb(49, 115, 237);
  color: white;
}

/* /tools */
.tools ul li::before {
  display: none;
}

.aboutMeBox {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    #ff3b3c,
    #fb1d53,
    #f10069,
    #e2007d,
    #cd0090,
    #db0288,
    #e81080,
    #f31f77,
    #ff6257,
    #ff9c45,
    #fad052,
    #e1ff85
  );
  background-size: 360% 180%;
  color: white;
  animation: gradient 10s ease infinite;
}

.aboutMeBox h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.aboutMeBox p {
  font-size: 0.8rem;
  font-weight: normal;
}

.aboutMeBox footer {
  margin-top: 2rem;
  text-align: end;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectBox {
  width: 13rem;
  height: 8rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column; 
  border: 1px solid rgb(180, 180, 180);
  padding: 1rem;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.projectBox:hover {
  background-color: rgb(230, 230, 230);

}

.projectBox h1 {
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.projectBox p {
  font-size: 0.7rem;
  font-weight: 300;
}

.projectBox div {
  position: absolute;
  bottom: 1rem;
}

.projectBox li {
  margin-bottom: 0.2rem !important;
  margin-right: 0.2rem !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TODO: Implement responsive from big to small */

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .greetText {
    font-size: 1rem;
  }

  .takeATourText {
    font-size: 0.8rem;
  }

  .profileImage {
    width: 100px;
    height: 100px;
  }

  .aboutMeBox h1 {
    font-size: 0.8rem;
  }

  .aboutMeBox p {
    font-size: 0.6rem;
  }

  .aboutMeBox footer {
    font-size: 0.6rem;
    margin-top: 1rem;
  }
}
