.container {
    width: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.profileImage{
    width: 150px;
    height: 250px;
    background-image: url("../src/assets/images/gopel-sleepy.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-size: 1rem;
    text-align: justify;
    max-width: 90%;
    margin-top: 2rem;
}

/* Responsive Template */
@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .description {
        font-size: 1rem;
        text-align: justify;
        margin-left: 2rem;
        max-width: 50%;
        margin-top: 0;
    }
}