.baseLayout {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
  margin-top: 2rem;
}

.menuContainer {
  position: fixed;
  top: 1rem;
  width: 43rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(229, 229, 229);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.menuContainer h1 {
  color: rgb(12, 147, 147);
  font-size: 1rem;
  font-weight: bold;
}

.menuContainer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuContainer ul li {
  list-style-type: none;
  margin-left: 1rem;
}

.menuContainer ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuContainer ul li a span {
  color: rgb(49, 115, 237);
  font-size: 0.8rem;
  transition: 0.3s;
  font-weight: 300;
}

.menuContainer ul li a span:hover {
  color: blue;
}

.menuContainer ul li a img {
  width: 25px;
  height: 25px;
  margin-right: 0.3rem;
}

.footer {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.footer,
.footer a {
  font-size: 0.8rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .baseLayout {
    width: 95%;
  }

  .menuContainer {
    width: 95%;
  }

  .menuContainer ul li span {
    display: none;
  }
}
