

.baseLayout {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: auto;
}

.menuContainer {
    width: 100%;
    /* margin: 1rem; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menuContainer h1{
    color: rgb(12, 147, 147);
    font-size: 1rem;
    font-weight: bold;
    display: none;
}

.menuContainer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menuContainer ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuContainer ul li a {
    color: rgb(49, 115, 237);
    font-size: 0.8rem;
    display: none;
}

.menuContainer ul li a:hover {
    color: blue;
}

.menuContainer ul li img {
    width: 25px;
    height: 25px;
    margin-right: 0.3rem;
}

.footer {
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.footer, .footer a {
    font-size: 0.8rem;
}

/* TODO: Implement responsive from big to small */

/* Responsive Template */
@media only screen and (min-width: 400px) {
    /* For tablets: */
    .baseLayout {
        width: 80%;
    }
    .menuContainer {
        justify-content: space-between;
    }
    
    .menuContainer h1 {
        display: block;
    }

    .menuContainer ul {
        width: auto;
        justify-content: inherit;
    }

    .menuContainer ul li {
        margin-left: 1.5rem;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .baseLayout {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .baseLayout {
        width: 50%;
    }
    .menuContainer ul li a {
        display: block;
    }

    .footer {
        width: 100%;
        padding: 1rem;
        text-align: center;
        bottom: 1rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}