.baseLayout {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
}

.menuContainer {
  width: 100%;
  /* margin: 1rem; */
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menuContainer h1 {
  color: rgb(12, 147, 147);
  font-size: 1rem;
  font-weight: bold;
}

.menuContainer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuContainer ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.menuContainer ul li a {
  color: rgb(49, 115, 237);
  font-size: 0.8rem;
}

.menuContainer ul li a:hover {
  color: blue;
}

.menuContainer ul li img {
  width: 25px;
  height: 25px;
  margin-right: 0.3rem;
}

.footer {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.footer,
.footer a {
  font-size: 0.8rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .baseLayout {
    width: 95%;
  }

  .menuContainer ul li a {
    display: none;
  }

  .footer,
  .footer a {
    font-size: 0.6rem;
  }
}
